.imePrezime {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  background-color: wheat;
  color: black;
  font-size: 18px;
}
