.App {
  text-align: center;
}

button {
  padding: 10px 15px;
  border-radius: 10px;
  background-color: lightblue;
  border: none;
  outline: none;
  font-size: 28px;
}

button:hover {
  cursor: pointer;
  scale: 1.05;
  transition: 0.1s;
}
.ucenici {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
  background: whitesmoke;
  padding: 50px 20px;
}
